{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<meta charset="UTF-8">
	<title>{% block title %}Peliculas{% endblock %}</title>
</head>
<body>
	<div class="container">
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>Pelicula ID</td>
				<td>Usuario ID </td>
				<td>Calificacion </td>
			</tr>
		</thead>
		<tbody>
			{% if pelicula and persona %}
			{% for a in pelicula %}
			<tr>
				<td>{{ a.pelicula }}</td>
				<td>{{ a.persona }}</td>
				<td>{{ a.cali }}</td>
				<td><a class="btn btn-primary" href="{% url '/rating_editar/' pelicula_id %}">Editar</a></td>
				<td><a class="btn btn-primary" href="{% url '/eliminar/' pelicula_id %}">Eliminar</a></td>
			</tr>
			{% endfor %}

			{% else %}
			
			<h1>No hay registros de usuario</h1>
		
			{% endif %}
		</tbody>
	</table>
		
	</div>

	
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	

</body>
</html>

